@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Belgrano');


html,body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("background.jpeg");
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	position: absolute;
}
.content{
	max-width: none;
	margin: 0 auto;
	text-align: center;
	padding:0;
}
.borderContent h1{
	font-family: 'Poiret One', serif;
	font-size: 600%;
	font-weight: 600;
	align-self: center;
	text-shadow:3px 2px 5px #979FA4;
	color: #133B50;
	padding-top: 20px;
}
.borderContent h1{
	border-bottom: 2px solid black;
	line-height: 1;
	border-color: #133B50;
	margin-left:200px;
	margin-right: 200px;
}
.intro .content2 {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	position: absolute;
}
div#description{
	text-align: center;
	padding-top: 16%;
	font-family: 'Poiret One', serif;
	font-size: 120%;
	font-weight: 600;
}

.intro .inner2{
	display: table-cell;
	vertical-align: top;
	width: 100%;
	max-width: none;
	position: absolute;
}

div#menubar1{
	padding: 15px;
	vertical-align: top;
	text-align: right;
}
div#menubar1 > a{
	font-family: 'Indie Flower', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 7px;
	color: #000;
	margin-right: 8px;
	text-decoration: none;
	border-radius: 3px;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
div#menubar1 > a:hover{
	background: #32596F;
	color: #E4DED5;
}

.intro .inner3{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

div#buttons{
	padding-top: 80px;
	vertical-align: middle;
	text-align: center;
}
div#buttons > a{
	padding: 25px 25px;
}
div#buttons > a:hover{
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
	.content{
		padding-bottom: 30%;
	}
	.content h1{
		font-size: 450%;
	}
	.button{
		font-size: 110%;
		padding: 9px 17px;
	}
}
@media screen and (max-width: 768px) {
	.content{
		padding-bottom: 40%;
	}
	.content h1{
		font-size: 300%;
	}
	.button{
		font-size: 110%;
		padding: 9px 17px;
	}
}
@media screen and (max-width: 480px) {
	.content{
		padding-bottom: 50%;
	}
	.content h1{
		font-size: 250%;
	}
	.button{
		font-size: 100%;
		padding: 6px 14px;
	}
}
