@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Belgrano');


html,body{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("background.jpeg");
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	position: absolute;
}
.content{
	max-width: none;
	margin: 0 auto;
	text-align: center;
	padding:0;
}
.borderContent h1{
	font-family: 'Poiret One', serif;
	font-size: 600%;
	font-weight: 600;
	align-self: center;
	text-shadow:3px 2px 5px #979FA4;
	color: #133B50;
	padding-top: 20px;
}
.borderContent h1{
	border-bottom: 2px solid black;
	line-height: 1;
	border-color: #133B50;
	margin-left:200px;
	margin-right: 200px;
}
.intro .content2 {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
	position: absolute;
}
div#description{
	text-align: center;
	padding-top: 16%;
	font-family: 'Poiret One', serif;
	font-size: 120%;
	font-weight: 600;
}

.intro .inner2{
	display: table-cell;
	vertical-align: top;
	width: 100%;
	max-width: none;
	position: absolute;
}

div#menubar1{
	padding: 15px;
	vertical-align: top;
	text-align: right;
}
div#menubar1 > a{
	font-family: 'Indie Flower', sans-serif;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 7px;
	color: #000;
	margin-right: 8px;
	text-decoration: none;
	border-radius: 3px;
	transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
div#menubar1 > a:hover{
	background: #32596F;
	color: #E4DED5;
}

.intro .inner3{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

div#buttons{
	padding-top: 80px;
	vertical-align: middle;
	text-align: center;
}
div#buttons > a{
	padding: 25px 25px;
}
div#buttons > a:hover{
}

/*--- Media Queries --*/
@media screen and (max-width: 1024px) {

	.borderContent h1{
		font-family: 'Poiret One', serif;
		font-size: 400%;
		font-weight: 600;
		align-self: center;
		text-shadow:3px 2px 5px #979FA4;
		color: #133B50;
		padding-top: 2%;
	}
	.borderContent h1{
		border-bottom: 1px solid black;
		border-color: #133B50;
		margin-left:15%;
		margin-right: 15%;
	}
	div#description{
		text-align: center;
		padding-top: 17%;
		font-family: 'Poiret One', serif;
		font-size: 100%;
		font-weight: 600;
	}
	div#menubar1{
		padding: 1%;
		vertical-align: top;
		text-align: right;
	}
	div#menubar1 > a{
		font-family: 'Indie Flower', sans-serif;
		font-size: 90%;
		font-weight: 700;
		padding: 5px 10px;
		color: #000;
		margin-right: 0%;
		text-decoration: none;
		border-radius: 10%;
		transition: background 0.3s linear 0s, color 0.3s linear 0s;
	}
	.intro .inner3{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
		padding-bottom: 20%;
	}
}
@media screen and (max-width: 800px) {
	.borderContent h1{
		font-family: 'Poiret One', serif;
		font-size: 325%;
		font-weight: 600;
		align-self: center;
		text-shadow:3px 2px 5px #979FA4;
		color: #133B50;
		padding-top: 2%;
	}
	.borderContent h1{
		border-bottom: 1px solid black;
		border-color: #133B50;
		margin-left:20%;
		margin-right: 20%;
	}
	div#description{
		text-align: center;
		padding-top: 16%;
		font-family: 'Poiret One', serif;
		font-size: 80%;
		font-weight: 600;
	}
	div#menubar1{
		padding: 1%;
		vertical-align: top;
		text-align: right;
	}
	div#menubar1 > a{
		font-family: 'Indie Flower', sans-serif;
		font-size: 90%;
		font-weight: 700;
		padding: 5px 5px;
		color: #000;
		margin-right: 0%;
		text-decoration: none;
		border-radius: 10%;
		transition: background 0.3s linear 0s, color 0.3s linear 0s;
	}
	.intro .inner3{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
		padding-bottom: 26%;
	}
}
@media screen and (max-width: 1440px) {
	.borderContent h1{
		font-family: 'Poiret One', serif;
		font-size: 600%;
		font-weight: 600;
		align-self: center;
		text-shadow:3px 2px 5px #979FA4;
		color: #133B50;
		padding-top: 2%;
	}
	.borderContent h1{
		border-bottom: 1px solid black;
		border-color: #133B50;
		margin-left:8%;
		margin-right: 8%;
	}
	div#description{
		text-align: center;
		padding-top: 22%;
		font-family: 'Poiret One', serif;
		font-size: 70%;
		font-weight: 600;
	}
	div#menubar1{
		padding: 2%;
		vertical-align: top;
		text-align: center;
	}
	div#menubar1 > a{
		font-family: 'Indie Flower', sans-serif;
		font-size: 80%;
		font-weight: 700;
		padding: 5px 15px;
		color: #000;
		margin-right: 0%;
		text-decoration: none;
		border-radius: 10%;
		transition: background 0.3s linear 0s, color 0.3s linear 0s;
	}
	.intro .inner3{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: none;
		padding-bottom: 40%;
	}
}

